#dialog-area{
    position: fixed;
    top: 25%;
    left: 50%;
    width: 600px;
    height: 400px;
    z-index: 10000;
    margin-left: -300px;
    background-color: #fff;
}

#dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0,0,0,.3);
}

.dialog-title {
    text-align: center;
    line-height: 40px;
    height: 40px;
    border-bottom: 1px solid #f0f0f0;
}

.p_wrap {
    padding: 12px 0;
}
.p_item {
    position: relative;
    min-width: 15%;
    margin: 4px 2.5%;
    display: inline-block;
}
.p_item.active{
    background-color: #ffff30;
}
.province_expand {
    position: absolute;
    width: 300px;
    height: 100px;
    z-index: 1;
    text-align: left;
    background-color: #ffff30;
}
.province_close {
    position: absolute;
    right: 3px;
    bottom: 3px;
}
.icon.active {
    transform: rotate(180deg);
    display: inline-block;
    margin-left: 4px;
}

.c_item {
    position: relative;
    min-width: 15%;
    margin: 4px 2.5%;
    display: inline-block;
}
.city_expand {
    position: absolute;
    width: 300px;
    height: 100px;
    z-index: 1;
    text-align: left;
    background-color: #9cf9b4;
}
.city_close {
    position: absolute;
    right: 3px;
    bottom: 3px;
}

.a_item {
    min-width: 15%;
    margin: 4px 2.5%;
    display: inline-block;
}

.dialog-footer {
    height: 40px;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
.dialog-footer a {
    margin: 0 2.5%;
}